h3{
    color:#198754;
    margin-left:5px;
    cursor:pointer;
}

#admin-name{
    color:white;
    margin-left:76%;
    margin-top:10px;
}

    h2{
        margin-left:30px;
        margin-top:20px;
    }

#contracname{
    color:#198754;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.header button{
    margin-right:5px;
}

.contrac-card{
    margin:30px;
    color:white;
    transition: all 0.6 ease-in-out;
    border-color:#198754;
    background-color:#212529;
}
.contrac-card:hover{
    transform: scale(1.008);
}
.card-header{
    background-color: #198754;
}
.btn-card{
    border-color: #198754;
    color:#198754;
    background-color: #212529;
}

.reviewed{
    background-color: #198754;
    color:white;
}
.addentry-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
}
.addentry-bar button{
   border:none;
   background-color: white;
   color:#198754;
   font-weight: 600;
    font-size: 20px;
}
.add-btn{
    display: flex;
    justify-content: center;
    margin-right: 32px;
    margin-top:13px;
    border:1px solid #198754;
    border-radius:5px;
    background-color: white;
    padding:10px;
}
.add-btn img{
    height:20px;
    width:20px;
    margin-top:8px;
}
.add-btn:hover{
    background-color: #198754;
    color:white;
}
.add-btn:hover button{
    background-color: #198754;
    color:white;
}
.add-btn:hover img{
    content: url(../../../assets/white.png);
}