h3{
    color:#198754;
    margin-top:5px;
    margin-left:5px;
    cursor:pointer;
}
#admin-name{
    color:white;
    margin-left:76%;
    margin-top:10px;
}
h2{
    margin-left:30px;
    margin-top:20px;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.header button{
    margin-right:5px;
}

.contrac-card{
    margin:30px;
    color:white;
    border-color:#198754;
    background-color:#212529;
}
.card-header{
    background-color: #198754;
}
.btn-card{
    border-color: #198754;
    color:#198754;
    background-color: #212529;
}
.btn-card:hover{
    background-color: #198754;
    color:white;
}
.reviewed{
    background-color: #198754;
    color:white;
}

