
<nav class="navbar navbar-dark bg-dark header">
    <a><h3>Dashboard</h3></a>
    <h6 id="admin-name">{{currentAdminInfo.adminname}}</h6>
    <button (click)="onLogout()" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
  </nav>
  <div class="alert alert-success alert-dismissible fade show admin-alert" role="alert">
    <strong>Login Successful! </strong> Welcome, {{currentAdminInfo.adminname.toUpperCase()}}.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="project-list">
  <h2>Ongoing Projects</h2>
  <div *ngFor="let contrac of contractodisplayongoing" class="card contrac-card">
    <div class="card-header">
      {{contrac.contracname}}
    </div>
    <div class="card-body">
      <h4 class="card-title">{{contrac.projecttitle}}</h4>
      <p class="card-text">{{contrac.projectdesc}}</p>
      <button [routerLink]="['/entry',contrac.id]" [queryParams]="{info:currentAdminInfo.id}" class="btn btn-primary btn-card">View Entries</button>
    <button (click)="markcomp(contrac)" id="secbtn" class="btn btn-primary btn-card">Mark as Complete</button>
    </div>
  </div>

  <h2>Completed Projects</h2>
  <div *ngFor="let contrac of contractodisplaycompleted" class="card contrac-card">
    <div class="card-header">
      {{contrac.contracname}}
    </div>
    <div class="card-body">
      <h4 class="card-title">{{contrac.projecttitle}}</h4>
      <p class="card-text">{{contrac.projectdesc}}</p>
      <button [routerLink]="['/entry',contrac.id]" [queryParams]="{info:currentAdminInfo.id}" class="btn btn-primary btn-card">View Entries</button>
    </div>
  </div>
  </div>
  
